@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

/*
    Final Site
    By: Amber Jeffers
    Date: December 9, 2021
*/

/******** Global **********/
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/* Layout */
header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

body {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    margin: 0;
    font-family: 'Zen Antique', serif;
}

/* Nav */
.navbar {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.spacing {
    flex: 1;
}

.navbar li {
    display: block;
    padding: 0rem 1rem;
    line-height: 1.5rem;
}

.navbar li:not(.logo) {
    padding: 3rem 2rem;
}

.navbar a {
    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: #254559;
}

.navbar a:hover {
    color: #F299A9;
}

/******** HOME ********/
/* Main */
.picture { grid-area: picture; }
.about { grid-area: about; }

#home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". picture about .";
    gap: 1rem;
    margin-top: 3rem;
    background-color: #254559;
}

.picture img {
    width: 300px;
    height: 400px;
    margin-top: 10rem;
}

.about {
    text-align: center;
}

.about h1 {
    color: #F2BDCB;
    margin-top: 5rem;
    font-size: 3rem;
}

.about p {
    margin-top: 5rem;
    color: #F2F2F2;
    font-size: 1.5rem;
}

/* Footer */
footer {
    text-align: center;
    font-size: 1.5rem;
    color: #254559;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/******** RESUME ********/
#resume {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". . . .";
    gap: 1rem;
    margin-top: 3rem;
    background-color: #254559;
}

/******** PORTFOLIO ********/
#portfolio {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". . . .";
    gap: 1rem;
    margin-top: 3rem;
    background-color: #254559;
}

/******** CONTACT ********/
#contact {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #254559;
}

/* Form */
.form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
}