@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

/*
    Final Site
    By: Amber Jeffers
    Date: December 9, 2021
*/

/******** Global **********/
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/* Layout */
header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

body {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    margin: 0;
    font-family: 'Zen Antique', serif;
}

/* Nav */
.navbar {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.spacing {
    flex: 1;
}

.navbar li {
    display: block;
    padding: 0rem 1rem;
    line-height: 1.5rem;
}

.navbar li:not(.logo) {
    padding: 3rem 2rem;
}

.navbar a {
    text-decoration: none;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: #254559;
}

.navbar a:hover {
    color: #F299A9;
}

/* Footer */
footer {
    text-align: center;
    font-size: 1.5rem;
    color: #254559;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/******** HOME ********/
/* Main */
.picture { grid-area: picture; }
.about { grid-area: about; }

#home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". picture about .";
    gap: 1rem;
    margin-top: 3rem;
    background-color: #254559;
}

.picture img {
    width: 300px;
    height: 400px;
    margin-top: 10rem;
}

.about {
    text-align: center;
}

.about h1 {
    color: #F2BDCB;
    margin-top: 5rem;
    font-size: 3rem;
}

.about p {
    margin-top: 5rem;
    color: #F2F2F2;
    font-size: 1.5rem;
}


/******** RESUME ********/
#resume {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". . . .";
    gap: 1rem;
    margin-top: 3rem;
    background-color: #254559;
}

/******** PORTFOLIO ********/
.project-1 { grid-area: p1; }
.project-2 { grid-area: p2; }

#portfolio {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        ". p1 p2 .";
    gap: 20rem;
    margin-top: 3rem;
    background-color: #254559;
    align-items: center;
}

#portfolio img {
    width: 400px;
    height: 400px;
}

#portfolio p {
    text-align: center;
    margin-top: 2rem;
    color: #F2F2F2;
}

/******** CONTACT ********/
#contact {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background-color: #254559;
}

#contact h1 {
    text-align: center;
    color: #F2BDCB;
    font-size: 3rem;
}

.form {
    margin-left: auto;
    margin-right: auto;
    margin-top: -10rem;
    background-color: #F2F2F2;
    height: 500px;
    width: 900px;
    color: #254559;
    font-size: 1.25rem;
    border-radius: 3px;
}

.space {
    margin-top: 3rem;
}

label, input, textarea {
    margin-left: 10rem;
    margin-bottom: 1rem;
}

input:not(.submit) {
    width: 250px;
    height: 30px;
    border: 1px solid #254559;
}

textarea {
    width: 600px;
    height: 200px;
    border: 1px solid #254559;
}

input:hover, textarea:hover {
    border: 2px solid #254559;
}

input:focus, textarea:focus {
    outline: none !important;
    border: 2px solid #F299A9;
}

#submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    width: 130px;
    height: 40px;
    background-color: #254559;
    color: #F2BDCB;
    font-weight: bold;
    font-size: 1rem;
}

#submit:hover {
    border: 2px solid #F2BDCB;
}